html{
    scroll-behavior: smooth;
    scrollbar-width: normal;
}
html ::-webkit-scrollbar{
    width: 2vw;
}
html ::-webkit-scrollbar-thumb{
    background-color:darkgray;
}
html ::-webkit-scrollbar-thumb:hover{
    background-color:lightskyblue;
    transition: 200ms ease-in;
}


html ::-webkit-scrollbar-track{
    background-color:gray !important;


}